<template name="footer">
	<footer>
		<div class="container-fluid">
			<div class="row footer-columns">
				<div class="col-md-4">4412 Spicewood Springs Road
				Suite 102
				Austin, Texas 78759</div>
				<div class="col-md-4"></div>
				<div class="copyright col-md-4">copyright © 2014 Donyvon Mead</div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 notice">
					All graphic designs and illustrations are posted on this website with permission from the various copyright holders. They are posted for promotional purposes only, and no additional reproduction, transmission, or recording of this work is permitted without the written consent of the company holding the copyright.
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</footer>
</template>