<template name="discounts">
	<div class="row">
		<div class="col-md-8">
		<h3>Coupons</h3>
		<h5>Watch for my Signpost Offers on:</h5>
		Google, Yahoo Local, Manta, Facebook, Yelp, and many more Search Pages!!
		or CALL <a href="tel:+5127044757"><span class="red" style="font-size:1.25em;">(512) 704-4757</span></a> for assistance.
	</div>
	</div>

 <p class="editable">Edit content in Meteor applications with Aloha Editor -- A modern HTML5 contentEditable WYSIWYG editor.</p>

  <div class="editable">
    <p>{{greeting}}</p>
    <p>
	<ul>
		<li>Website: <a href="http://aloha-editor.org">Aloha-Editor.org</a></li>
		<li>Development: <a href="http://github.com/alohaeditor/Aloha-Editor">Github</a></li>
		<li>Twitter: <a href="http://twitter.com/alohaeditor">@alohaeditor</a></li>
	</ul>
	</p>
  </div>

  <input type="button" value="click to edit" />

</template>