<template name="products">
	<h2>Tools of the Trade</h2>
	
	<p>At Donyvon's Dezigns, the quality of the products I work with is a top priority. I only use salon professional products. I also carry a broad selection of retail products to accommodate all of your hair care needs. These include L'anza® Healing Haircare, Aquage™, It's A 10®, Wella Professional®, Professional Sebastian™, Paul Mitchell™ and Matrix™. </p>

	<p>The color system that I use L'anza® Healing Haircolor.  It's an amazing color line because it has incredible grey coverage, it's fade resistant, it's extremely gentle, and with the innovative chemistry of the Trans Catalyst, every shade can be  quickly transformed into an ammonia-free translucent glaze for an ultra-gentle refresh, balance, or tone.</p>
</template>