<template name="services">
	<div class="row">
		<div class="col-md-8">
			<div class="box">
				<h1>Services</h1>

				The following Price Menu is based on the needs of most clients.  In rare cases, a client's service(s) may require an additional charge for time or product when deemed necessary. 
				A consultation will be given prior to the service(s) in these cases. 
			</div>
			<div class="box">
				<h2>Haircuts</h2>
				<em>(ALL Adult Haircuts include a Shampoo & Light Conditioning)</em>

				<h4><strong>Women</strong> $62.50</h4>
				<em>(with any color service*, $37.50)</em>

				<h4><strong>Men </strong> $50.00</h4>
				<em>(with any color service*, $37.50)</em>
				<h4><strong>Children</strong>(12 and under) $37.50</h4>
			</div>
			<div class="box">                                                  
				<h2>Colors and Highlites</h2>
				<em>(ALL Color Services include a complimentary Deep Conditioning Masque)</em>

				<h4>Men's Color & Style                                           $62.50</h4>

				<h4>Demi-Translucent Glaze & Style or                              
				Color Retouch & Style                                        $87.50</h4>

				<h4>Full Color or                                                               
				Retouch with Full Color Refresh                        $105.00</h4>

				<h4>Partial Foil Lites                              $100.00 to $112.50</h4>

				<h4>Full Foil Lites                                                   $125.00</h4>

				<h4>2 Tone Dual Foil Lites                           $137.50 and Up</h4>

				<h4>Dimensional Color                                                       
				(Solid Base with Lites)                           $137.50 and Up</h4>
			</div>

			<div class="box">
				<h2>Keratin Taming Treatments</h2>
				<em>(Using Global Keratin with Juvinex, add a post-treatment trim for $25) 
				Treatment Prices vary based on Length and Density</em>

				Approximate Rates:

				<h4>Short Hair                                                        $167.50</h4>

				<h4>Medium Hair (just below chin length)                  $195.00</h4>

				<h4>Medium-Long Hair (shoulder length)                   $222.50</h4>

				<h4>Long Hair (4-6 inches past shoulders)                 $250.00</h4>

				<h4>Very Long Hair (7+ inches past shoulders)$277.50 and Up</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="red notice col-md-8">Donyvon's Dezigns reserves the right to change Service and Retail Prices at any time, with or without notice.  Donyvon's Dezigns also reserves the right to alter or forgo Discount or Credit Programs at any time, with or without notice.</div>
		<div class="col-md-2"></div>
	</div>
	<br>
</template>