<template name="services">
	<div class="row">
		<h3>Services</h3>

		The following Price Menu is based on the needs of most clients.  In rare cases, a client's service(s) may require an additional charge for time or product when deemed necessary. 
		A consultation will be given prior to the service(s) in these cases. 

		<h3>Haircuts</h3>
		(ALL Adult Haircuts include a Shampoo & Light Conditioning)

		Women                                                             $62.50
		(with any color service*, $37.50)

		Men                                                                  $50.00
		(with any color service*, $37.50)

		Children (12 and under)                                      $37.50
		                                                       
		<h3>Colors and Highlites</h3>
		(ALL Color Services include a complimentary Deep Conditioning Masque) 

		Men's Color & Style                                           $62.50

		Demi-Translucent Glaze & Style or                              .
		Color Retouch & Style                                        $87.50

		Full Color or                                                               .
		Retouch with Full Color Refresh                        $105.00

		Partial Foil Lites                              $100.00 to $112.50

		Full Foil Lites                                                   $125.00

		2 Tone Dual Foil Lites                           $137.50 and Up

		Dimensional Color                                                       .
		(Solid Base with Lites)                           $137.50 and Up

		<h3>Keratin Taming Treatments</h3>
		(Using Global Keratin with Juvinex, add a post-treatment trim for $25) 
		Treatment Prices vary based on Length and Density

		Approximate Rates:

		Short Hair                                                        $167.50

		Medium Hair (just below chin length)                  $195.00

		Medium-Long Hair (shoulder length)                   $222.50

		Long Hair (4-6 inches past shoulders)                 $250.00

		Very Long Hair (7+ inches past shoulders)$277.50 and Up
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="notice col-md-8">Donyvon's Dezigns reserves the right to change Service and Retail Prices at any time, with or without notice.  Donyvon's Dezigns also reserves the right to alter or forgo Discount or Credit Programs at any time, with or without notice.</div>
		<div class="col-md-2"></div>
	</div>
</template>